<footer class="bg-success py-4 mt-auto">
  <div class="container">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="small m-0 text-light text-center fw-bolder">Copyright &copy; Betonator</div>
    </div>
  </div>
</footer>