<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Betonator</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap" rel="stylesheet">
            <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>
  <body class="bg-light">

    @if (User.Identity.IsAuthenticated || Context.Request.Path == "/" || Context.Request.Path.StartsWithSegments("/Home"))
    {
        <partial name="_Header" />
    }


    <div class="container">
      <br>
      <br>
      <br>
      <!-- TODO: This is u real ugly hack -->
        <main role="main" class="mt-5">
            @RenderBody()
        </main>
    </div>

    @if (User.Identity.IsAuthenticated || Context.Request.Path == "/" || Context.Request.Path.StartsWithSegments("/Home"))
    {
      <partial name="_Footer" />
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
