@page
@model LoginModel

<div class="container px-3 py-3">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">

      <h2 class="fw-bolder text-center mb-5 opacity-25 font-italic">BETONATOR</h2>

      <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
        <div class="card-body p-5">
          <form id="account" method="post">

            <div class="text-center mb-4">
              <h3 class="display-6 fw-bolder mb-0"><span class="d-inline">Log in</span></h3>
            </div>

            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3 text-center text-dark" role="alert">
              <i class="bi bi-exclamation-triangle-fill"></i>
            </div>

            <div class="form-floating mb-3">
              <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
              <label asp-for="Input.Email" class="form-label">Email</label>
              <span asp-validation-for="Input.Email" class="text-danger d-block mt-2 ms-2"></span>
            </div>

            <div class="form-floating mb-3">
              <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
              <label asp-for="Input.Password" class="form-label">Password</label>
              <span asp-validation-for="Input.Password" class="text-danger d-block mt-2 ms-2"></span>
            </div>

            <div class="d-grid mb-3">
              <button class="btn btn-success btn-lg px-5 py-3 fs-6 fw-bolder" id="login-submit" type="submit">
                Log in
              </button>
            </div>
          </form>

          <form id="external-account" asp-page="./ExternalLogin" method="post" >
            <div class="d-grid mb-4">
              <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" name="provider" value="Google" type="submit">
                <i class="bi bi-google"></i> Log in with Google
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-grid">
        <a class="btn btn-link btn-lg px-5 fs-6 fw-bolder text-decoration-none" asp-page="./ForgotPassword">
          Forgot password?
        </a>
      </div>

      <div class="d-grid">
        <a class="btn btn-link btn-lg px-5 fs-6 fw-bolder text-decoration-none" asp-page="./ResendEmailConfirmation">
          Resend email confirmation
        </a>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}